/* giving background image*/
body {
    background-image: url(../../media/Shampreet/images/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* styling the form div*/
#wrapper {
    width: auto;
    height: auto;
    text-align: center;
    padding-bottom: 20px;
}

/* main content */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/* first div */
#div1{
    width: 700px;
    height: auto;
    background-color: #ffffff;
    margin-top: -40px;
}

/* second  div */
#div2{
    
    width: auto;
    height: 250px;
    background-color: #bc2b30;
    padding: 20px;
    font-family: "Play";
    text-align: center;
    background-color: #ffffff;
}

/* styling the form heading*/
h1 {
    
    color: #ffffff;
    font-family: "Play";
    font-weight: bolder;
    font-size:60px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left:520px;
    text-shadow: 3px 3px 5px #000000;
   
}

/* styling the navbar */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #bc2b30;

}

/* navbar elements*/
nav a {
    color: #f5f5f5;
    font-size: 15px;
    font-family: "kanit";
    text-decoration: none;
    padding-right: 4px;
}

/* website logo */
img {
    width: 200px;
    height: 70px;
}

/* navbar div */
.anchor-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.mobheader {
    display: none;
}

.hamburgeroptions {
    display: none;
}
/* all the labels */
label {
    float: left;
    text-align: right;
    width: 8em;
    font-family: "Lato";
    font-weight: bold;
}

.fa-magnifying-glass {
    position: absolute;
    margin-top: 1em;
    margin-left: 49em;
}

input::placeholder{

    font-size: smaller;
    color: rgb(104, 104, 104);
}
/* input bar */
#place{
    width:172px;
    border: solid whitesmoke;
    border-radius: 5px;
}

/* all the textboxes*/
input {
    margin-bottom: 20px;
    margin-left: 1em;
    border: 1px solid #b4b4b4;
}

/* resizing the fieldset*/
fieldset {
    width: 500px;
    margin: auto;
}

/* adjusting margin of first fieldset*/
#f1 {
    margin-top: 30px;
}

/* adjusting second fieldset*/
#f2 {
    width: 400px;
    margin: auto;
    height: auto;
}

/* aligning the fieldset's legend to left */
legend {
    text-align: left;
}

/* styling the message box or text area */
textarea {
    width: 500px;
    height: 200px;
    float: left;
    border: 1px solid #b4b4b4;

}

/* styling span */
span{

    color:#bc2b30;
    font-size: small;
    font-family: "Play";
}

/* styling the submit button*/
#submit {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
    margin: auto;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-bottom: 30px;
}

/* background colour change on hovering over button */
#submit:hover {
    background-color: #534425;
}

/* styling the footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #bc2b30;
    text-align: center;
    margin-top: 180px;
    gap: 150px
}

/* footer list */
footer li {
    list-style: none;
    margin: 10px;

}

/* footer list elements*/
footer li a {
    text-decoration: none;
    margin: 10px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    font-size: 15px;
    font-family: "kanit";
}

footer li a:hover {
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.73);
}

/* footer icons */
.col3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.fa-brands:hover {
    color: #000000;
}

.fa-facebook {
    color: #1887f2;
}

.fa-twitter {
    color: #1d9fee;
}

.fa-instagram {
    color: rgb(245, 119, 192)
}
.fa-message-middle{
    color: red;
}
/* media query for mobiles */
@media only screen and (max-width:530px) {

    /* background*/
    body {
        background-image: url(../../media/Shampreet/images/bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /* resizing the form body or div */
    #wrapper {
       
        width: auto;
        height: auto;
        text-align: center;
        padding-bottom: 20px;
    }
    /* resizing main and div's in it*/
    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #div1{
        width: auto;
        height: auto;
        background-color: #ffffff;
        margin-top: 1px;
        padding-bottom: 10px;
    }
    #div2{
        margin-top:30px;
        width: auto;
        height: 270px;
        background-color: #bc2b30;
        padding: 5px;
        font-family:"Play";
        text-align: center;
        background-color: #ffffff;
    }
    
    /* reducing form heading size*/
    h1 {
        
        color: #ffffff;
        font-family: "Play";
        font-weight: bolder;
        font-size: 30px;
        margin-left:6em;
        width:auto;
        text-shadow: 3px 3px 5px #000000;

    }

    /* reducing size of logo*/
    img {
        width: 100px;
        height: 40px;
    }   
    .header {
        display: none;
    }

    .mobheader {
        display: block;
    }

    .displayoptions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* hamburger navbar */
    .hamburgeroptions{
        background-color: #bc2b30
    }
    .hamburgeroptions>a {
        text-decoration: none;
        color:white;
        padding: 2px;
        font-weight: lighter;
        font-size:small;
        margin-bottom: .5em;
    }

    .mobheader i {
        transition: 0.2s;
    }

    .mobheader i:active {
        color: #bc2b30;
    }

    .mobheader i:hover {
        font-size: 1.2em;
    }

    /* serach icon */
    .fa-magnifying-glass {
        position: absolute;
        margin-top: 7.4em;
        margin-left: 12em
    }
    /* placeholders*/
    input::placeholder{

        font-size: x-small;
        color: rgb(104, 104, 104);
    }

    #place2{
        width:142px;
        height: 10px;
        border: solid whitesmoke;
        border-radius: 5px;
    }

      /* styling span */
      span{

        color:#bc2b30;
        font-size: x-small;
        font-family: "Play";
    }
    

    /* resizing the labels*/
    label {
        text-align: left;
        width: 8em;
        margin-bottom: .5em;
        font-family: "Lato";
        font-weight: bold;
        font-size: small;
    }

    /* resizing the textboxes*/
    input {
        margin-bottom: 10px;
        margin-left: 1em;
        border: 1px solid #b4b4b4;
    }

    /* reduxing fieldset size*/
    fieldset {
        width: 200px;
        margin: auto;
    }

    /* adjusting margin of first fieldset */
    #f1 {
        margin-top: 20px;
    }

    /* resizing second fieldset*/
    #f2 {
        width: 200px;
        margin: auto;
        height: auto;
    }

    legend {
        text-align: left;
    }

    /* resizing the text area*/
    textarea {
        width: 200px;
        height: 100px;
        border: 1px solid #b4b4b4;

    }

    /* adjusting the button*/
    #submit {
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        font-size: small;
        font-family: sans-serif;
        margin: auto;
        padding: 5px;
        border: 1px solid #000000;
        border-radius: 2px;
    }

    #submit:hover {
        background-color: #534425;
    }

    /* reducing the size of footer elements and adjusting the margin*/
    footer {
        background-color: #bc2b30;
    }

    footer li a {
        text-decoration: none;
        margin: 10px;
        color: rgb(255, 255, 255);
        transition: all 0.3s ease;
        font-size: small;
        font-family: "kanit";
    }

    footer li a:hover {
        padding-left: 10px;
        color: rgba(255, 255, 255, 0.73);
    }

    .col1 {
        float: left;
        margin-left: 0;
    }

    .col2 {
        float: right;
        margin-left: -200px;
    }

    .col3 {
        float: right;
        margin-left: 260px;
        margin-top: -242px;
    }

    .fa-brands:hover {
        color: #000000;
    }

    .fa-facebook {
        color: #1887f2;
    }

    .fa-twitter {
        color: #1d9fee;
    }

    .fa-instagram {
        color: rgb(245, 119, 192)
    }
}